input[type=text]{
    width:200px;
    height:36px;
}
input{
    margin-right: 10px;
}

.jumbotron{
    background-image: url('../images/headerBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap:20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item{
      font-size: 18px;
      margin: auto auto;
  }

 