<div>
  <div>
    <input class="title" type="text" [(ngModel)]="title" placeholder="Title" />
  </div>
  <div>
    <label for="textBody">Body</label>
  </div>
  <textarea
    id="textBody"
    name="textBody"
    rows="5"
    cols="33"
    [(ngModel)]="body"
  ></textarea>
  <div>
    <button class="submit" type="button" (click)="onSubmit()">Submit</button>
  </div>
  <div>
    <table>
      <tr>
        <th>UserId</th>
        <th>id</th>
        <th>title</th>
        <th>body</th>
      </tr>
      <tr class="post-row" *ngFor="let item of items">
        <td>{{ item.userId }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.body }}</td>
      </tr>
    </table>
  </div>
</div>
