<ng-container [ngSwitch]="searchStatus">
  <div *ngSwitchCase="'end'">
    <table class="table">
      <thead>
        <tr class="active">
          <th>Artist ID</th>
          <th>Artist Name</th>
          <th>Album Name</th>
          <th>Album Cover</th>
        </tr>
      </thead>
      <tbody *ngIf="artistList.length !== 0;else notFound">
        <tr *ngFor="let artist of artistList">
          <td>{{ artist.id }}</td>
          <td>{{ artist.name }}</td>
          <td>{{ artist.albumName }}</td>
          <td><img src="{{artist.albumCover}}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngSwitchCase="'start'">
    <div class="loader"></div>
  </div>
  <div *ngSwitchDefault>
    <!-- <div>Waiting for search</div> -->
  </div>
</ng-container>
<ng-template #notFound>
  <tbody>
    <tr>
      <td>Sorry, Not Found</td>
    </tr>
  </tbody>
</ng-template>
