Input Artist Name <input #artistName type="text" (keyup.enter) = getName(artistName.value)>
<button (click) = getName(artistName.value) > Search </button>

<br><br><br>
<table>
  <tr>
    <th class="id">No.</th>
    <th>Artist Name</th>
    <th>Artist ID</th>
    <th>Genre</th>
    <th class="album">Album Name</th>
    <th>Image</th>
  </tr>
  <tr *ngFor= "let post of postList;   let num = index">
    <td class="id">
      {{num+1}}
    </td>
    <td class = "id">
      {{ post.artistName}}
    </td>  
    <td>
      {{ post.artistId }}
    </td>
    <td class = "id">
      {{post.primaryGenreName}}
    </td>
    <td class = "title">
      {{ post.collectionName}}
    </td>
    <td>
      <a href="{{post.collectionViewUrl}}"><img src={{post.artworkUrl60}} alt="None" width="100px" height="100px;"></a>
    </td>
  </tr>  
</table>

