.search-wrapper {
  width: 100%;

  .form-control-feedback {
    right: initial;
    left: 18px;
    color: #ccc;
    font-size: 1.4em;
    top: 5px;
  }

  .search-bar {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 1.29412;
    letter-spacing: -.021em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: black;
    outline: none;
    width: calc(100% - 42px - 16px);
    height: 44px;
    padding: 0 17px 0 42px;
  }
}
